section.professionals {
    float:left;
    width: 100%;

    &.cattitleno {
        div.category {
            h3 {
                display: none;
            }
        }
    }

    div.category {
        float:left;
        width: 100%;
        padding:0 5%;
        margin-top:20px;

        @media only screen and (max-width: 1279px) {
            padding:0 0;
        }
    }

    div.items {
        float:left;
        width: 100%;
        padding:0 0px;

        > span {
            float:left;
            width: 100%;
            padding-right: 200px;
            position: relative;
            padding-bottom:25px;
            margin-bottom:25px;
            border-bottom:1px solid #E1D4E3;

            @media only screen and (max-width: 639px) {
                padding-right:0;
            }

            span.title {
                float:left;
                width: 100%;
                padding-top:5px;
            }

            span.link {
                position: absolute;
                right:0;
                top:0;

                @media only screen and (max-width: 639px) {
                    position: relative;
                    margin-top:10px;
                    float:left;
                    width: 100%;
                }
            }
        }
    }
}